<!-- Validation failure messages -->
<% if @history.errors.any? %>
  <% @history.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add History</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_history" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for listing_id -->
      <div class="form-group">
        <label for="listing_id" class="control-label">
          Listing
        </label>

        <%= select_tag(:listing_id, options_from_collection_for_select(Listing.all, :id, :wine_id, @history.listing_id), :class => "form-control") %>
      </div>

      <!-- Label and input for comments -->
      <div class="form-group">
        <label for="comments" class="control-label">
          Comments
        </label>

        <input type="text" id="comments" name="comments" placeholder="Comments" class="form-control" value="<%= @history.comments %>">
      </div>

      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          Rating
        </label>

        <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="<%= @history.rating %>">
      </div>

      <!-- Label and input for favorite -->
      <div class="checkbox">
        <label for="favorite">
          <input type="checkbox" id="favorite" name="favorite" value="1" <%= "checked" if @history.favorite %>>
          Favorite
        </label>
      </div>

      <button class="btn btn-success">
        Create History
      </button>
      or
      <a href="/histories">Cancel</a>
    </form>
  </div>
</div>
