<div class="page-header">
  <h3>History #<%= @history.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @history.user_id %></dd>

      <dt>Listing</dt>
      <dd><%= @history.listing_id %></dd>

      <dt>Comments</dt>
      <dd><%= @history.comments %></dd>

      <dt>Rating</dt>
      <dd><%= @history.rating %></dd>

      <dt>Favorite</dt>
      <dd><%= @history.favorite %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/histories" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @history.user %>
        <a href="/histories/<%= @history.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_history/<%= @history.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
