<div class="page-header">
  <h3>Wine #<%= @wine.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Image</dt>
      <dd><img src="<%= @wine.image %>" class="img-responsive"></dd>

      <dt>Name</dt>
      <dd><%= @wine.name %></dd>

      <dt>Category</dt>
      <dd><%= @wine.category %></dd>

      <dt>Variety</dt>
      <dd><%= @wine.variety %></dd>

      <dt>Sweetness</dt>
      <dd><%= @wine.sweetness %></dd>

      <dt>Body</dt>
      <dd><%= @wine.body %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/wines" class="btn btn-primary">
        Back
      </a>
      <a href="/wines/<%= @wine.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_wine/<%= @wine.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Wine has many listings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Listings
      </li>

      <% @wine.listings.each do |listing| %>
        <li class="list-group-item">
          <a href="/listings/<%= listing.id %>">
            <%= listing.wine_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/listings/<%= listing.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/listings/<%= listing.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_listing/<%= listing.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_listing" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for wine_id -->
      <input type="hidden" name="wine_id" value="<%= @wine.id %>">

      <!-- Label and input for location_id -->
      <div class="form-group">
        <label for="location_id" class="control-label">
          Location
        </label>

        <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Listing
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Wine has many locations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Locations
      </li>

      <% @wine.locations.each do |location| %>
        <li class="list-group-item">
          <a href="/locations/<%= location.id %>">
            <%= location.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/locations/<%= location.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/locations/<%= location.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_location/<%= location.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Wine has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @wine.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
